extends layout

block content
  h1= title
  p Welcome to #{title}
  p Math.pow() applied to #{x},#{y} is #{a};
  p Math.sign() applied to #{x} is #{b};
  p Math.tanh() applied to #{x} is #{c};
  p Math.trunc() applied to #{x} is #{d};
